// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// Import Bootstrap
@import "../vendor/bootstrap/scss/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";





/**
 * NAVBAR SEARCH
 */
 
 .navbar .search-form {
    float:right;
    margin:0;
    padding:0;
    margin-top: 10px;
    
    .input-group {
        display:block;
        padding-right:30px;
        width:30px;
        overflow:hidden;
        border-left:2px solid transparent;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    &.open .input-group {
        border-left:2px solid #5F5F5F;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .form-control,
    .form-control:focus {
        /*color:#fff;*/
        height: 30px;
        padding: 6px 12px 0;
        border-radius:0;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 16px;
        background-color: transparent;
        border-color: transparent;
    }
    .input-group-btn {
        display:block;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height:30px;
        z-index: 2;
        
        .icon {
            position:relative;
            bottom:-3px;
            left: -1px;
            font-size:16px;
        }
    }
    .btn {
        padding:5px 8px;
        border-radius:0;
        /*color:#fff;*/
        background-color: transparent;
        border: 1px solid transparent;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .btn:active,
    .btn:hover,
    .btn:focus,
    &.open .btn {
        color:#fff;
        background-color: #5F5F5F;
        border: 1px solid #5F5F5F;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        outline: none;
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0;
    }
    &.open .input-group {   
        width:145px;
        -webkit-transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
    }
} 
 
:-ms-input-placeholder {
    color: #555 !important;
}
::-moz-placeholder {
    color: #555 !important;
}
:-moz-placeholder {
    color: #555 !important;
}
::-webkit-input-placeholder {
    color: #555 !important;
}

@media (max-width:767px) {
    
    .navbar .search-form {
        float: none;
        margin-top: 0px;
        padding:14px 0;
        
        .input-group,
        &.open .input-group {   
            width:auto;
            -webkit-transition: none;
            transition: none;
            border-left: 2px solid #5F5F5F;
        }
        .btn {
            background-color: #5F5F5F;
            border: 1px solid #5F5F5F;
            -webkit-transition: none;
            transition: none;
        }
    }
    
    :-ms-input-placeholder {
        color: #555 !important;
        text-transform:uppercase;
    }
    ::-moz-placeholder {
        color: #555 !important;
        text-transform:uppercase;
    }
    :-moz-placeholder {
        color: #555 !important;
        text-transform:uppercase;
    }
    ::-webkit-input-placeholder {
        color: #555 !important;
        text-transform:uppercase;
    }
}

@media (min-width: 768px) and (max-width:780px) {
    .navbar .search-form.open .input-group {
        width: 135px;
    }
}
@media (min-width: 980px) {
    .navbar .search-form.open .input-group {
        width: 230px;
    }
}
@media (min-width: 1300px) {
    .navbar .search-form {
        
        .input-group-btn {
            width:32px;
            height:32px;
            
            .icon {
                font-size:18px;
            }
        }
        .form-control, 
        .form-control:focus {
            height:32px;
        }
        .input-group {
            padding-right:32px;
            width:32px;
        }
    }
}

